@import '../../styles/variables.scss';

.container {
  color: var(--background-color);
  transition: color #{$theme-duration} ease-out;
  background-color: transparent;
  border: none;
  margin-left: 0;
  appearance: none;
  background-image: url('./img/angle_down_dark.svg');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 90% 50%;
  min-width: 90px;
  
  &:focus {
    outline: none;
  }
}
@media (max-width:849px){
  .container{
    background-image: url('./img/angle_down_light.svg');
  }
}
:global(.light){
  .container{
    background-image: url('./img/angle_down_light.svg');
  }
  @media (max-width:849px){
    .container{
      background-image: url('./img/angle_down_dark.svg');
    }
  }
}
