:root {
  --background-color: #ffffff;
  --text-color: #202124;
  --border-color: rgba(0, 0, 0, 0.1);
  //--border-color: rgba(32, 33, 36, 0.1);
}

$theme-duration: 0.5s;
$mobile-padding: 1.25rem;
