@import '../../styles/layout.scss';

.container {
  display: flex;
  flex-direction: column !important;

  .media,
  .info {
    width: 100%;
  }

  .info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
      flex-direction: column;
      padding-left: 10px;
    
    .title,.description{
      white-space: pre-wrap;
      text-align: left;
      opacity: 0.7;
      margin-bottom: 20px;
    }
  }
}