.mintHeader{
  font-size:2em;
  text-align: center;
  padding: 15px 0 25px 0; 
}

.mintArea{
  background-color: #4c4c4c;
  padding: 25px 0 25px 0; 
}


.row{
  box-sizing: border-box;
  display: flex;
  margin:-0.5rem;
  margin-top: 3rem;
  >*{
    //margin:0.5rem;
  }
  // input{
  //   --fieldBorderColor: #4c4c4c!important;
  // }
}

.row:first-child>div,
.row:first-child>div>button,
.row:first-child>div>button>div{
  width: 100%;
}
.row:first-child>div{
 &:not(:first-child){
  border-left: 1px solid var(--border-color);
 }
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.row:first-child>div>button>div{
  margin-top: auto;
}
@media (max-width: 800px) {
  .row:first-child{
  flex-direction: column;
}
  .row:first-child>div{
 &:not(:first-child){
  border-top: 1px solid var(--border-color);
  border-left:  none
 }
}
}