.hoverMessage{
  position: absolute;
  display: inline-block;
  width: max-content;
  background-color: var(--dropdown-color);
  font-size: 0.8rem;
  transform: scale(0);
  transition: 150ms;
  z-index: 100;
  border-radius: 0.5rem;
  padding:0.2rem 0.5rem;
}
.infoButton{
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  margin: 0 0.5rem;
  margin-right: auto;
  position: relative;
  font-size: 10px;
  color:var(--border-color);
  .hoverMessage{
    bottom: 1.2rem;
    transform-origin: top;
    color: var(--text-color);
  }
  &:hover{
    .hoverMessage{
      transform: scale(1);
    }
  }
}