@import "../../styles/variables.scss";
@import "../../styles/layout.scss";

.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  padding: 0 #{$mobile-padding};
  background-color: var(--background-color);

  color: var(--text-color);
  transition: background-color #{$theme-duration} ease-out, color #{$theme-duration} ease-out;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px var(--border-color) solid;
}

.dropDownBtn {
  cursor: pointer;
}
.syncBtn {
  background-color: var(--text-color);
  margin-left: -1px;
  // margin: auto 1rem;
  // height: 2rem;
  // border-radius: 0.5rem;
  * {
    color: var(--background-color);
  }
  @media (max-width: 850px) {
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
  }
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  * {
    font-size: inherit;
  }
}

.left {
  display: flex;

  /* fix desktop order */
  @media (min-width: 850px) {
  }
}

.logo {
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 45px;
  // width: 170px;
  // background-image: url('./img/yellow_akaS_testnet_dark.svg');
  height: 35px;
  width: 150px;
  background-image: url("./img/akaS_web_Logo_XL_dark.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.testLogo {
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 170px;
  background-image: url("./img/yellow_akaS_testnet_dark.svg");
  // height: 35px;
  // width: 150px;
  // background-image: url('./img/akaS_web_Logo_XL_dark.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 849px) {
}
:global(.light) {
  .container {
    .logo {
      // background-image: url('./img/yellow_akaS_testnet_light.svg');
      background-image: url("./img/akaS_web_Logo_XL_light.svg");
    }
    .testLogo {
      background-image: url("./img/yellow_akaS_testnet_light.svg");
      // background-image: url('./img/akaS_web_Logo_XL_light.svg');
    }
  }
}

.notification {
  // padding-left: 40px;
  padding-left: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  background-image: url("./img/notification_dark.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;

  .num {
    position: absolute;
    top: -2px;
    right: 8px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    background-color: var(--text-color);
    border-radius: 10px;
    color: var(--background-color);
    font-size: 2px;
  }
}
@media (max-width: 849px) {
}
:global(.light) {
  .container {
    .notification {
      background-image: url("./img/notification_light.svg");
    }
  }
}

.right {
  display: flex;

  /* fix desktop order */
  @media (min-width: 850px) {
    margin-right: -1.25rem;
    flex-direction: row-reverse;
  }
}
.menu {
  display: flex;
  align-items: center;
  transition: background-color #{$theme-duration} ease-out, color #{$theme-duration} ease-out;

  > div {
    margin-bottom: 0;
    > div {
      padding: 0 0;
    }
  }

  /* mobile */
  @media (max-width: 849px) {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    top: 55px;
    right: 0;
    width: 100%;
    flex-direction: column;

    > div {
      background-color: var(--dropdown-color);
    }

    nav {
      justify-content: center;
    }
  }
}

ul.navBar {
  list-style: none;

  /* desktop nav-bar */
  @media (min-width: 850px) {
    display: flex;
    margin: 0rem;
    > li > .dropDownBtn > div,
    > li > button > div {
      border-right: 1px solid var(--border-color);
    }
  }

  /* mobile nav bar item*/
  @media (max-width: 849px) {
    display: block;
    margin: 1rem;

    > li {
      position: relative;
      border-bottom: 1px solid var(--border-color);
      padding: 0.5rem 0;

      .dropDownBtn,
      button {
        width: 100%;
        text-align: left;
      }
    }
  }
}

.right .menu footer {
  width: auto;
  position: static;
  height: 54px;

  @media (min-width: 850px) {
    padding: 0;
    background-color: transparent;
    > div > div > select {
      color: var(--text-color);
      padding-right: 1.5rem;
    }
    > div > div > * {
      display: flex;
      align-items: center;
      height: 25px;
      margin: 15px 0;
      padding: 0 1rem;
      border-right: 1px solid var(--border-color);
      margin-left: 0rem;
    }
  }
  @media (max-width: 849px) {
    padding: 1rem;
    width: 100%;
    margin-right: 0rem;
  }
  > div > div {
    justify-content: center;
  }
}

/* desktop navbar item */
.syncBtn,
.unSyncBtn,
.navBar > li {
  display: flex;
  align-items: center;
  > .dropDownBtn,
  > button {
    /* desktop */
    @media (min-width: 850px) {
      height: 55px;

      > div {
        display: flex;
        align-items: center;
        height: 25px;
        margin: 15px 0;
        padding: 0 1rem;
      }
    }
  }
}
.expanded {
  background-color: transparent;
}
/* dropdown menu */

.dropDown {
  list-style: none;

  /* desktop */
  @media (min-width: 850px) {
    display: none;
    border: 1px solid transparent;
    > li {
      text-align: center;
      margin: 1rem 0;
      > .dropDownBtn > div,
      > button > div {
        padding: 0;
      }
    }
    .dropDownBtn:hover &,
    button:hover & {
      display: block;
      background-color: var(--dropdown-color);
    }
  }
  /* mobile indented menu */
  @media (max-width: 850px) {
    display: none;
    margin-top: 0.5rem;
    text-align: center;
    margin-left: 1rem;
    > li {
      border-top: 0px solid var(--border-color);
      padding: 0.5rem 0;
    }

    .dropDownBtn.expanded &,
    button.expanded & {
      display: block;
      background-color: var(--dropdown-color);
    }
  }
}

.dropDownToggle {
  @include respond-to("desktop") {
    display: none;
  }
  opacity: 0;
  padding: 0 0.5em;

  .dropDownBtn:hover + &,
  button:hover + & {
    z-index: 1;
    height: 1rem;
    position: absolute;
    top: 0.5rem;
    right: 0;
    opacity: 1;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color);
  z-index: 1000;
  display: flex;
  padding: 1rem;
  /*max-height: 100vh;
    overflow-y: scroll;*/
}
.modal {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  transform: translate(-50% -50%);
  border-radius: 1rem;
  > .dropDownBtn,
  > button {
    align-self: flex-end;
    margin: -1rem 0;
    padding: 1rem;
    color: var(--text-color);
  }
  .news {
    margin: 40px;
  }
}
