@import '../../styles/layout.scss';
@import '../../styles/variables.scss';

.container {
  position: absolute;
  top: -2px;
  right: 12px;
  padding: 4px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  svg {
    width: 100%;
    height: 100%;

    path{
      stroke: #1f2023;
      transition: fill #{$theme-duration} ease-out;
    }

    .c1{
      fill: var(--text-color);
      stroke: var(--text-color);
      transition: fill #{$theme-duration} ease-out;
    }
    .c2{
      fill: var(--background-color);
      transition: fill #{$theme-duration} ease-out;
    }
    .c3{
      fill: var(--text-color);
      stroke: var(--text-color);
      stroke-width: 20px;
      transition: fill #{$theme-duration} ease-out;
    }
    .c4{
      fill: var(--background-color);
      stroke-width: 15px;
      stroke: var(--text-color);
      transition: fill #{$theme-duration} ease-out;
    }
    .c5{
      fill: var(--text-color);
      stroke: var(--text-color);
      stroke-width: 10px;
      transition: fill #{$theme-duration} ease-out;
    }

  }
}
