@import '../../styles/variables.scss';
.outsideClick{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.wrapper {
  position: relative;
  padding: 0px 16px 0px 16px;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  
  * {
    box-sizing: border-box;
  }

  .link{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    height: auto;
    z-index: 200;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;

    .tagArea{
      position: relative;
      >div{
        width: 100%;
      }
      margin: 2rem 0;
      display: flex;
      width: 100%;
      background: none;;

      &:after{
        width: 100%;
      }
    
      input{
        width: 100%;
        height: 60px;
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        color: var(--text-color);
      }
      input:focus { 
        outline: none; }
      // .tag:-webkit-autofill{
      //   -webkit-text-fill-color: var(--text-color);
      //   transition: background-color 9999999s ease-in-out 0s;
      // }
      button{
        position: absolute;
        right: -10px;
        top: 0.8rem;
        height: 32px;
        margin: auto 1rem;
        //bottom: 50%;
        background-color: transparent;
        border: none;
      }
      .icon{
        z-index: 1000;
        width: 32px;
        height: 32px;
        background-image: url('./img/akaS_web_tag_XL_dark.png');
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 0;
      }
    }
    .tagArea.focused{
      input{
        border-radius: 0.5rem 0.5rem 0 0;
      }
      option {
        display: block;
        text-align: left;
        padding: 0.5rem 1rem;
        color: var(--text-color);
        margin-bottom: 1px;
        cursor: pointer;
        transition: 150ms;
        font-size: 1rem;
        opacity: 0.5;
      }
      option.active,
      option:hover{
        opacity: 1;
        padding-left: 1.5rem;
      }
      datalist{
        max-height: 300px;
        width: 100%;
        position: absolute;
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        border-top-width: 0px;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 1rem 0;
      }
      
    datalist::-webkit-scrollbar{
      width: 4px;
    }
    datalist::-webkit-scrollbar-thumb{
      border-radius: 5px;
      background-color: var(--border-color);
    }
  }
  }

  [list]::-webkit-calendar-picker-indicator {
    display: none !important;
  }
  input:focus{
    border-radius: 0.5rem 0.5rem 0 0;
  }
  

  // form:focus-within{
  //   datalist{
  //     display: block;
  //   }
  // }


}

// input::-webkit-calendar-picker-indicator {
//   display: none;
// }
// [list]::-webkit-calendar-picker-indicator {
//   display: none;
// }




:global(.light){
  .link{
    .tagArea{
      .icon{
        background-image: url('./img/akaS_web_tag_XL_light.png');
      }
    }
  }
}

