
.toggle{
    display: flex;
    cursor: pointer;
    transition: 150ms;   
    &:hover{
        opacity: 0.75;
    }
    .icon{
        align-self: center;
        margin-left: auto;
        position: relative;
        height: 1rem;
        width: 1rem;
        transition: 150ms;   
        transform: rotate(180deg);
        *{
            stroke: var(--text-color)!important;
            stroke-width: 1px!important;
        }
    }
    &.opened{
 
       .icon{
            transform: rotate(90deg);
        } 
    } 
    
}
.content{
    border-top: 1px solid var(--border-color);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}